sim

*.dll
*.exe
*.o
*.so
*.com
*.class

*.log
logs/

*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx

*.dmg
*.iso
*.tar
*.zip
*.gz

.Trashes
.Thumbs.db
.ehthumbs.db

.vscode/*

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

dramsim3.json
dramsim3.txt
dramsim3epoch.json

results/